<div class="container col-lg-9 col-md-4 col-sm-2">
  <div class="row" style="margin: 50px;margin-top: 100px;">
    <img
      src="https://images.unsplash.com/photo-1581299894007-aaa50297cf16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      alt=""
      height="700"
      width="600"
      class="col-md-12 col-lg-7"
    />
    <div class="d-flex flex-column col-md-12 col-lg-5">
      <div>
        <div
          style="
            color: #f2c64d;
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 18px;
            display: block;
            font-family: 'Pacifico', cursive;
          "
        >
          About Us
        </div>
        <h3
          style="
            font-size: 50px;
            font-weight: 700;
            color: #1a0d01;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
          "
        >
          Best Pizza <br />
          in your City
        </h3>
      </div>
      <p
        style="
          font-size: 16px;
          line-height: 28px;
          font-size: 16px;
          line-height: 28px;
          margin-top: 0;
          margin-bottom: 37px;
        "
      >
        Pizza Turtle's is the largest pizza restaurant chain in the world based
        on global retail sales, with more than 17,200 stores in over 90 markets.
        Founded in 1960, our roots are in convenient pizza delivery, while a
        significant amount of our sales also come from carryout customers.
        Although we are a highly-recognized global brand, we focus on serving
        the local neighborhoods in which we live and do business through our
        large network of franchise owners and Company-owned stores. On average,
        we sell more than 3 million pizzas each day throughout our global
        system. Our business model is straightforward: we handcraft and serve
        quality food at a competitive price, with easy ordering access and
        efficient service which are aided by our technology innovations. Our
        dough is generally made fresh and distributed to stores around the world
        by us and our franchisees.
      </p>
      <div>
        <img
          src="https://www.pngfind.com/pngs/m/639-6399089_foraker-signature-signature-transparent-background-hd-png-download.png"
          alt=""
          width="200"
          height="100"
        />
      </div>
    </div>
  </div>
</div>
