<div class="d-flex" style="margin: 50px;">
  <img
    src="https://i.pinimg.com/originals/e8/20/d1/e820d1cd121fcc0231102cfe8202cca3.jpg"
    alt=""
    height="700"
    width="600"
    class="col-md-7"
  />
  <div class="d-flex flex-column col-md-5">
    <div>
      <div>About Us</div>
      <h3>
        Best Pizza <br />
        in your City
      </h3>
    </div>
    <p>
      Pizza Turtle's is the largest pizza restaurant chain in the world based on
      global retail sales, with more than 17,200 stores in over 90
      markets. Founded in 1960, our roots are in convenient pizza
      delivery, while a significant amount of our sales also come from
      carryout customers. Although we are a highly-recognized global
      brand, we focus on serving the local neighborhoods in which we live
      and do business through our large network of franchise owners and
      Company-owned stores. On average, we sell more than 3 million pizzas
      each day throughout our global system. Our business model is
      straightforward: we handcraft and serve quality food at a
      competitive price, with easy ordering access and efficient service
      which are aided by our technology innovations. Our dough is
      generally made fresh and distributed to stores around the world by
      us and our franchisees.
    </p>
    <div>
      <img src="https://www.pngfind.com/pngs/m/639-6399089_foraker-signature-signature-transparent-background-hd-png-download.png" alt="" width="200" height="100" />
    </div>
  </div>
</div>
