<div class="d-flex flex-column" style="margin: 20px;">
  <div class="d-flex flex-column align-items-center">
    <div class="text-center">Pizza Menu</div>
    <h3>Best Ever Pizzas</h3>
    <button routerLink = "/pizza-add">Add Pizza</button>
  </div>

  <div class="row">
    <app-pizza-show
      class="col-xl-6 col-md-6 col-lg-6"
      *ngFor="let pizza of pizzas"
      [pizza]="pizza"
      (send) = "addToCart($event)"
    >
    </app-pizza-show>
  </div>

  <button
    class="btn btn-outline-warning btn-block"
    style="
    margin-top: 30px;
      border-radius: 15px;
    "
  >
    View All Pizzas
  </button>

</div>
