<div class="container mt-5">
  <div>
    <h3
      style="
        color: #f2c64d;
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 18px;
        display: block;
        font-family: 'Pacifico', cursive;
      "
    >
      Coupon Details
    </h3>
    <button
      class="btn btn-outline-primary btn-block"
      style="width: 150px; font-weight: bolder"
      routerLink="/coupon-add"
      *ngIf="getRole() == 'Admin'"
    >
      Add Coupon
    </button>
  </div>
  <hr />
  <div class="row">
    <div
      class="col-lg-3 col-md-6 col-sm-12"
      *ngFor="let coupon of couponArray"
      app-coupon-show
      [coupon]="coupon"
    ></div>
  </div>
</div>
