<div class="container">
  <h2>My Details</h2>
  <form>
    <div class="form-group row">
        <label for="cid" class="col-sm-2 md-2 lg-2 col-form-label">Customer ID:</label>
        <div class="col-sm-10">
          <label for="cid" class="col-sm-2 col-form-label">{{
            currentUser.customerId
          }}</label>
          <br />
        </div>
      </div>
    <div class="form-group row">
      <label for="fname" class="col-sm-2 col-form-label">First Name:</label>
      <div class="col-sm-10">
        <label for="fname" class="col-sm-2 col-form-label">{{
          currentUser.firstName
        }}</label>
        <br />
      </div>
    </div>
    <div class="form-group row">
      <label for="lname" class="col-sm-2 col-form-label">Last Name:</label>
      <div class="col-sm-10">
        <label for="lname" class="col-sm-2 col-form-label">{{
          currentUser.lastName
        }}</label>
        <br />
      </div>
    </div>
    <div class="form-group row">
        <label for="mobile" class="col-sm-2 col-form-label">Mobile Number:</label>
        <div class="col-sm-10">
          <label for="mobile" class="col-sm-2 col-form-label">{{
            currentUser.customerMobile
          }}</label>
          <br />
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
          <label for="email" class="col-sm-2 col-form-label">{{
            currentUser.customerEmail
          }}</label>
          <br />
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address:</label>
        <div class="col-sm-10">
          <label for="address" class="col-sm-2 col-form-label">{{
            currentUser.customerAddress
          }}</label>
          <br />
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username:</label>
        <div class="col-sm-10">
          <label for="lname" class="col-sm-2 col-form-label">{{
            currentUser.userName
          }}</label>
          <br />
        </div>
      </div>
    <div class="form-group row">
      <button class="btn btn-info">
        Update Details
      </button>
    </div>
  </form>
</div>
