<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    background-color: steelblue;
  "
>
  <a
    class="navbar-brand"
    href="#"
    style="font-style: oblique; font-size: x-large"
  >
    <img
      src="https://i.pinimg.com/originals/35/2a/91/352a9102893872462e904324746f443e.jpg"
      width="70"
      height="70"
      style="border-radius: 50%"
    />
    Pizza Turtle's
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    style="font-weight: bolder"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coupon-list">All Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
    </ul>
    <span class="nav-item dropdown my-2 my-lg-0" *ngIf="getUser() != null">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="color: white"
      >
        My Profile
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink = "/my-profile">My Details</a>
        <a class="dropdown-item" href="#">My Orders</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/cart']">My Cart </a>
      </div>
    </span>
    <a
      class="nav-link"
      [routerLink]="['/login']"
      style="color: white"
      *ngIf="getUser() == null"
      >Login</a
    >
    <a class="nav-link" style="color: white" *ngIf="getUser() != null"
      >Logout</a
    >
    <a [routerLink]="['/cart']">
      <img
        src="https://www.iconsdb.com/icons/preview/white/cart-38-xxl.png"
        height="40"
        width="40"
      />
    </a>
  </div>
  <!-- <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
</nav>
